In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.preprocessing import scale
from sklearn import model_selection 
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import train_test_split
from sklearn.cross_decomposition import PLSRegression 
from sklearn.metrics import mean_squared_error
from scipy.stats import linregress
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model
from sklearn import preprocessing
from sklearn.feature_selection import RFE
import seaborn as sns
import random as rnd

In [6]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import scale 
from sklearn import model_selection
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.cross_decomposition import PLSRegression, PLSSVD
from sklearn.metrics import mean_squared_error

In [117]:
dataf = pd.read_csv('Multispeq_HIPS_GS1_Field(2).csv')
datag = pd.read_csv('Multispeq_HIPS_GS1_GH(2).csv')

In [118]:
dataf.head(7)

,ID,Series,Repeat,Plot_ID,Source,Rep,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
0,2822255,Whole Data Set,1,4104,Field,1,"24.44,24.47,24.51",45.55762,980.98608,24.51,...,6/28/2022 8:18,8.314722,-0.0001,-0.540479,-0.446,Deniz Istipliler,52:00:08:06,40.852332,-96.616715,NaN
1,2822254,Whole Data Set,1,4104,Field,2,"24.93,24.97,24.99",46.45410,980.91498,24.99,...,6/28/2022 8:20,8.338333,-0.0797,-0.000251,0.040,Deniz Istipliler,52:00:08:06,40.852328,-96.616726,NaN
2,2822253,Whole Data Set,1,4106,Field,1,"25.19,25.23,25.24",45.39258,980.81995,25.24,...,6/28/2022 8:21,8.354444,0.0112,0.164864,0.136,Deniz Istipliler,52:00:08:06,40.852266,-96.616658,NaN
3,2822252,Whole Data Set,1,4106,Field,2,"25.35,25.38,25.42",44.93066,980.78674,25.42,...,6/28/2022 8:21,8.364722,0.0321,0.006851,0.056,Deniz Istipliler,52:00:08:06,40.852273,-96.616687,NaN
4,2822251,Whole Data Set,1,4108,Field,1,"25.64,25.66,25.69",43.59570,980.77661,25.69,...,6/28/2022 8:22,8.380000,-0.0322,-0.000933,0.056,Deniz Istipliler,52:00:08:06,40.852392,-96.616628,NaN
5,2822250,Whole Data Set,1,4108,Field,2,"25.91,25.95,25.99",44.04883,980.78772,25.99,...,6/28/2022 8:23,8.391389,-0.0222,0.001804,0.039,Deniz Istipliler,52:00:08:06,40.852406,-96.616604,NaN
6,2822249,Whole Data Set,1,4111,Field,1,"26.2,26.24,26.28",43.44824,980.80139,26.28,...,6/28/2022 8:24,8.405833,0.0017,0.035568,-0.011,Deniz Istipliler,52:00:08:06,40.852318,-96.616625,NaN

In [119]:
datag.head()

,ID,Series,Repeat,Plot_ID,Source,Rep,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
0,2826053,Whole Data Set,1,4104,GH,2,"27.78,27.79,27.8",41.63965,975.71924,27.80,...,6/29/2022 16:04,16.074722,0.0017,0.011985,0.005,Deniz Istipliler,52:00:08:06,40.832821,-96.690845,NaN
1,2826043,Whole Data Set,1,4104,GH,1,"27.82,27.82,27.82",42.10254,975.71295,27.82,...,6/29/2022 16:20,16.341944,0.0106,0.007547,0.009,Deniz Istipliler,52:00:08:06,40.832800,-96.690827,NaN
2,2826052,Whole Data Set,1,4106,GH,2,"27.86,27.87,27.87",41.73926,975.76263,27.87,...,6/29/2022 16:05,16.086389,-0.0031,0.006549,0.000,Deniz Istipliler,52:00:08:06,40.832824,-96.690848,NaN
3,2826042,Whole Data Set,1,4106,GH,1,"27.9,27.91,27.92",42.39844,975.74005,27.92,...,6/29/2022 16:21,16.357222,0.0103,0.008763,0.003,Deniz Istipliler,52:00:08:06,40.832817,-96.690844,NaN
4,2826065,Whole Data Set,1,4108,GH,2,"27.25,27.26,27.28",42.12012,975.98578,27.28,...,6/29/2022 15:46,15.773611,0.0046,0.008741,0.009,Deniz Istipliler,52:00:08:06,40.832815,-96.690846,NaN

In [120]:
datag.shape

(213, 60)

In [121]:
dataf.shape

(217, 60)

In [122]:
dataf.columns

Index(['ID', 'Series', 'Repeat', 'Plot_ID ', 'Source', 'Rep ',
       'air_temp_kinetics', 'Ambient Humidity', 'Ambient Pressure',
       'Ambient Temperature', 'data_raw_PAM', 'ECS_averaged_trace', 'ECS_tau',
       'ECSt mAU', 'fitinput', 'FmPrime', 'FoPrime', 'Fs', 'FvP_over_FmP',
       'gH+', 'humidity2_K', 'humidity_K', 'kP700', 'leaf angle',
       'Leaf Temperature', 'Leaf Temperature Differenial',
       'Leaf Temperature Differential', 'LEAF_temp', 'leaf_thickness', 'LEF',
       'LEFd_trace', 'Light Intensity (PAR)', 'NPQt', 'outdata',
       'P700_DIRK_ampl', 'P700_DIRK_averaged_trace', 'P700_fitinput',
       'P700_outdata', 'Phi2', 'PhiNO', 'PhiNPQ', 'PS1 Active Centers',
       'PS1 Open Centers', 'PS1 Over Reduced Centers', 'PS1 Oxidized Centers',
       'PSI_data_absorbance', 'pump', 'qL', 'SPAD', 'test_data_raw_PAM',
       'time', 'Time of Day', 'tP700', 'v_initial_P700', 'vH+', 'User',
       'Device ID', 'Latitude', 'Longitude', 'Issues'],
      dtype='object')

In [123]:
datag.columns

Index(['ID', 'Series', 'Repeat', 'Plot_ID', 'Source', 'Rep',
       'air_temp_kinetics', 'Ambient Humidity', 'Ambient Pressure',
       'Ambient Temperature', 'data_raw_PAM', 'ECS_averaged_trace', 'ECS_tau',
       'ECSt mAU', 'fitinput', 'FmPrime', 'FoPrime', 'Fs', 'FvP_over_FmP',
       'gH+', 'humidity2_K', 'humidity_K', 'kP700', 'leaf angle',
       'Leaf Temperature', 'Leaf Temperature Differenial',
       'Leaf Temperature Differential', 'LEAF_temp', 'leaf_thickness', 'LEF',
       'LEFd_trace', 'Light Intensity (PAR)', 'NPQt', 'outdata',
       'P700_DIRK_ampl', 'P700_DIRK_averaged_trace', 'P700_fitinput',
       'P700_outdata', 'Phi2', 'PhiNO', 'PhiNPQ', 'PS1 Active Centers',
       'PS1 Open Centers', 'PS1 Over Reduced Centers', 'PS1 Oxidized Centers',
       'PSI_data_absorbance', 'pump', 'qL', 'SPAD', 'test_data_raw_PAM',
       'time', 'Time of Day', 'tP700', 'v_initial_P700', 'vH+', 'User',
       'Device ID', 'Latitude', 'Longitude', 'Issues'],
      dtype='object')

In [187]:
Multi = pd.merge(dataf, datag, how='outer', indicator=True)

In [188]:
Multi.shape

(430, 63)

In [189]:
Multi.head(350)

,ID,Series,Repeat,Plot_ID,Source,Rep,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,...,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues,Plot_ID,Rep,_merge
0,2822255,Whole Data Set,1,4104.0,Field,1.0,"24.44,24.47,24.51",45.55762,980.98608,24.51,...,-0.540479,-0.446,Deniz Istipliler,52:00:08:06,40.852332,-96.616715,NaN,NaN,NaN,left_only
1,2822254,Whole Data Set,1,4104.0,Field,2.0,"24.93,24.97,24.99",46.45410,980.91498,24.99,...,-0.000251,0.040,Deniz Istipliler,52:00:08:06,40.852328,-96.616726,NaN,NaN,NaN,left_only
2,2822253,Whole Data Set,1,4106.0,Field,1.0,"25.19,25.23,25.24",45.39258,980.81995,25.24,...,0.164864,0.136,Deniz Istipliler,52:00:08:06,40.852266,-96.616658,NaN,NaN,NaN,left_only
3,2822252,Whole Data Set,1,4106.0,Field,2.0,"25.35,25.38,25.42",44.93066,980.78674,25.42,...,0.006851,0.056,Deniz Istipliler,52:00:08:06,40.852273,-96.616687,NaN,NaN,NaN,left_only
4,2822251,Whole Data Set,1,4108.0,Field,1.0,"25.64,25.66,25.69",43.59570,980.77661,25.69,...,-0.000933,0.056,Deniz Istipliler,52:00:08:06,40.852392,-96.616628,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,2824837,Whole Data Set,1,NaN,GH,NaN,"27.41,27.41,27.41",42.40820,978.24780,27.41,...,0.049905,0.011,Deniz Istipliler,52:00:08:06,40.832792,-96.690843,NaN,5243.0,2.0,right_only
346,2824836,Whole Data Set,1,NaN,GH,NaN,"27.46,27.46,27.47",42.28711,978.32086,27.47,...,-0.032655,0.009,Deniz Istipliler,52:00:08:06,40.832778,-96.690810,NaN,5245.0,2.0,right_only
347,2824835,Whole Data Set,1,NaN,GH,NaN,"27.5,27.5,27.51",42.29004,978.30811,27.51,...,-0.050172,0.010,Deniz Istipliler,52:00:08:06,40.832791,-96.690838,NaN,5245.0,1.0,right_only
348,2824834,Whole Data Set,1,NaN,GH,NaN,"26.58,26.57,26.56",41.29590,978.24182,26.56,...,-0.006194,-0.051,Deniz Istipliler,52:00:08:06,40.832785,-96.690825,NaN,5247.0,1.0,right_only
349,2824833,Whole Data Set,1,NaN,GH,NaN,"26.6,26.6,26.6",42.25098,978.29321,26.60,...,0.000958,0.006,Deniz Istipliler,52:00:08:06,40.832801,-96.690836,NaN,5247.0,2.0,right_only